body {
    background-color: rgb(51, 58, 57);
    font-family: Arial, Helvetica, sans-serif
}

#map {
    position: relative;
}

#map {
    border: 2px solid rgb(121, 114, 114);
    transition: transform 0.2s ease-in-out;
}


#activities h3 {
    font-size: 1.5rem;
    font-weight: 500;
}

#activities ul {
    list-style-type: disc;
    padding-left: 1rem;
}

#activities li {
    font-size: 1.25rem;
    font-weight: normal;
}

/* Set the max width of the container at the small breakpoint defined in Tailwind */
@media (min-width: 768px) {
    .max-w-md {
        max-width: 32rem;
    }
}